# system/backups
*~
*.bak
.DS_Store
*.orig
*.rej

# jenkins x
.stignore
*~gen

# ide
.venv
bin
.classpath
.metadata
.project
.settings/
.checkstyle
.mylar
.idea
.run
*.iml
*.ipr
*.iws
*.ids
.pydevproject
.factorypath
.java-version

# build artifacts
target*/
!targetplatforms/
nashorn_code_cache/
chromedriver.log
*.log
*.pyc

# nuxeo build process
addons/nuxeo-shell/
nuxeo-jsf-ui/
marketplace/

# Helm charts
**/*.tgz
**/*.lockdocker.platform.dev.nuxeo.com/nuxeo/nuxeo:2025.x
Platform: linux/arm64

# Docker
.env
docker-compose.override.yml